body {
  font-family: Arial, sans-serif;
  background-color: #75c2f6;
}
#timerInput {
  color: #fbeeac;
  text-shadow: 5px 4px #1d5d9b;
  width: 100px;
  background-color: #75c2f6;
  border: none;
  font-size: 8em;
  text-align: center;
  margin: auto;
  width: 100%;
  outline: none;
  font-family: "Lato", sans-serif;
  letter-spacing: 2px;
  padding: 50px 0;
  padding-bottom: 40px;
}

#btnContainer {
  display: block;
  margin: auto;
  width: 100%;
  text-align: center;
}

#startStopBtn,
#resetBtn {
  background-color: #fbeeac;
  border: 2px solid #1d5d9b;
  border-radius: 20px;
  box-shadow: #1d5d9b 2px 2px 0 0;
  color: #1d5d9b;
  cursor: pointer;
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 18px;
  padding: 0 15px;
  margin: 0 10px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#startStopBtn:hover,
#resetBtn:hover {
  background-color: #f4d160;
  transition: transform 0.2s;
  transform: scale(1.05);
}

#startStopBtn:active,
#resetBtn:active {
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  #startStopBtn,
  #resetBtn {
    min-width: 120px;
    padding: 0 25px;
  }
}
